

*, *:before, *:after {
    box-sizing: border-box;
}

span {
    font-family: 'calibri';
    font-size: 15px;
}


input {
    width:100%;
    padding:10px;
    margin:10px 0;
    border: 1px solid #000000;
    border-radius:10px;
}
input:hover {
    border: 1px solid #aaa;
    box-shadow: 0 0 15px 8px rgba(37, 36, 36, 0.06);
}

.solace-logo {
    width:50%;
}

.center-input {
    width: 50%;
    height: 50%;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}

.save-btn {
    appearance:none;
    -webkit-appearance:none;
    
    transition: all .5s ease;
    padding:10px;
    border:none;
    background-color:#00ad93;
    color:#fff;
    font-weight:600;
    border-radius:5px;
    width:50%;
       
    margin: auto;
}
.save-btn:after {
    content: 'Save';
}
.save-btn:hover {
    content: 'Click to save!';
    background-color: #00c895;
}
.save-btn:focus {
    background-color: #00c1c8;
}
.save-btn:focus:after{
    transition: all .5s ease;
    content: 'Saved!';
}