/* Global Styles */
*,
*:before,
*:after {
  box-sizing: border-box;
}

span {
  font-family: 'calibri';
  font-size: 15px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #000000;
  border-radius: 10px;
}

input[type="text"] {
  font-family: "Rubik", sans-serif;
}

input:hover {
  border: 1px solid #aaa;
  box-shadow: 0 0 15px 8px rgba(37, 36, 36, 0.06);
}

.readonly-input {
  background-color: #e0e0e0; /* Light grey background */
  color: #6c757d; /* Dark grey text */
  cursor: not-allowed; /* Change cursor to indicate non-editable */
}

.solace-logo {
  width: 50%;
  margin: 15px;
}

.center-input {
  width: 65%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.headers {
  color: rgba(0, 0, 0, .8);
  font-size: 20px;
  font-weight: 500;
  /* text-align: center; */
}

.sub-headers {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  color: rgba(0, 0, 0, 0.65);
}

/* Container Styling */
.container {
  display: flex;
}

.left-container {
  flex: 1;
}

.right-container {
  flex: 1;
}

.inner-left-container {
  margin: 25px;
}

.inner-right-container {
  margin: 25px;
}

.align-right {
  float: right;
}

#connections {
  padding: 20px;
  height: 600px;
  /* Adjust the height as needed */
  overflow-y: scroll;
}

/* Override checkbox styling */
.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.save-connection-input {
  flex: 1;
}

/* Create equal row that stack on top of each other */
.row {
  border-radius: 15px;
  float: left;
  width: 100%;
  padding: 10px;
  margin: 5px 0px 5px 0px;
  background-color: #f5f5f5;
  transition: all ease 0.2s;

  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.row:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.row:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

.selected {
  background: #c1c1c1;
}


/* Button Styles */
.button-container {
  display: flex;
  justify-content: space-between;
}

.button-wrapper {
  background-color: #13aa52;
  border-width: 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  outline: none;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  margin-top: 10px;
}

.button-wrapper:hover {
  transform: translateY(-2px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}


.button-wrapper:active {
  background: #13aa529d;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

.button-wrapper.options-btn.toggled-on {
  background-color: #4CAF50;
  color: white;
}

.options-btn {
  height: 30px;
  background-color: #9c9e9d;
  font-size: 10px;
  font-weight: 700;
}

.add-space-btn {
  margin-left: 5px;
  margin-right: 5px;
}

.confirm-color {
  background-color: #13aa52;
}

.warning-color {
  background-color: #c01616;
}

.save-btn {
  width: 90%;
  background-color: #009dff;
}

.delete-btn {
  float: right;
  width: 90%;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.info-box {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 250px;
  margin-bottom: 80px;
}

.features-wrapper-inline:hover .info-box {
  display: block;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  margin-left: auto;
  height: 15px;
}

/* Checkbox Styles */
.features-wrapper .features {
  appearance: none;
  background-color: #dfe1e4;
  border-radius: 72px;
  border-style: none;
  flex-shrink: 0;
  height: 20px;
  margin: 0;
  position: relative;
  width: 30px;
}

.features-wrapper .features::before {
  bottom: -6px;
  content: "";
  left: -6px;
  position: absolute;
  right: -6px;
  top: -6px;
}

.features-wrapper .features,
.features-wrapper .features::after {
  transition: all 100ms ease-out;
}

.features-wrapper .features::after {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  height: 14px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 14px;
}

.features-wrapper input[type=checkbox] {
  cursor: default;
}

.features-wrapper .features:hover {
  background-color: #c9cbcd;
  transition-duration: 0s;
}

.features-wrapper .features:checked {
  background-color: #6e79d6;
}

.features-wrapper .features:checked::after {
  background-color: #fff;
  left: 13px;
}

.features-wrapper :focus:not(.focus-visible) {
  outline: 0;
}

.features-wrapper .features:checked:hover {
  background-color: #535db3;
}